<app-navbar></app-navbar>
<section class="hero">
        <div class="hero-content">
            <h1>Discover Handmade Crafts</h1>
            <p>Handicrafts curated for the modern lifestyle</p>
            <a routerLink="homeprod" class="cta-button">Shop Now</a>
        </div>
    </section>

    <section class="categories" id="categories">
        <h2 class="section-title">Featured Categories</h2>
        <div class="category-grid">
            <div class="category-card">
              <img src="images/access.jpg" alt="Jewelry"  height="250px" width="380px">
                <div class="category-content">
                    <h3>Accessories</h3>
                    <p>Little details, handmade to make you shine</p>
                </div>
            </div>
            <div class="category-card">
            <img src="images/homedeco.jpg" alt="HomeDecor" height="250px" width="380px">
                <div class="category-content">
                    <h3>Decorative and Home Craft</h3>
                    <p>Crafted with love to make every home glow with warmth</p>
                </div>
            </div>
            <div class="category-card">
              <img src="images/fabric.jpg" alt="Texttile and Fabrics" height="250px" width="380px">
                <div class="category-content">
                    <h3>Texttile and Fabrics</h3>
                    <p>Threads tell stories that last a lifetime.</p>
                </div>
            </div>
        </div>
    </section>

<section class="products" id="products">
  <h2 class="section-title">Featured Products</h2>
  <div class="products-container">
    <div class="product-grid">

      <!-- Product 1 -->
      <div class="product-card">
        <img src="images/bracelet.jpg" alt="Product 1">
        <h3>Handmade Bracelet</h3>
      </div>

      <!-- Product 2 -->
      <div class="product-card">
        <img src="images/woodensculpture.jpg" alt="Product 2">
        <h3>Wooden Sculpture</h3>
      </div>

      <!-- Product 3 -->
      <div class="product-card">
        <img src="images/wovenbasket.jpg" alt="Product 3">
        <h3>Woven Basket</h3>
      </div>

    </div>
  </div>
</section>

<router-outlet></router-outlet>
