<div class="container-fluid">
    <div class="logo">
       <h1 style="text-align: center;">Welcome to Maker's Magic</h1>
    </div>
</div>

<div class="products-page">
  <section class="grid">
  <div class="card" *ngFor="let product of products">
    <a href="#" class="thumb">
      <img [src]="product.imageUrl" [alt]="product.name" />
      <span class="badges"><small>New</small></span>
    </a>

    <div class="meta">
      <a href="#" class="title">{{ product.name }}</a>
      <div class="price-row">
        <div class="price">₱{{ product.price }}</div>
      </div>
      <p>{{ product.description }}</p>
      <div class="actions">
        <button>Add to Cart</button>
        <button class="buy">View</button>
      </div>
    </div>
  </div>
</section>
</div>
