<div class="container-fluid">
    <div class="logo">
       <h1 style="text-align: center; color:rgb(255, 255, 255);">Seller Dashboard</h1>
    </div>
</div>

<div class="dashboard-container">

 <button class="dashboard-button" routerLink="dash">
  <i class="fa-solid fa-chart-pie"></i>
  <p>Dashboard</p>
</button>

<button class="dashboard-button" routerLink="prod">
  <i class="fa-brands fa-product-hunt"></i>
    <p>Product</p>
  </button>

  <button class="dashboard-button" routerLink="orders">
    <i class="fa-solid fa-boxes-stacked"></i>
    <p>Orders</p>
  </button>

  <button class="dashboard-button"routerLink="report">
    <i class="fa-solid fa-chart-line"></i>
    <p>Reports</p>
  </button>

  <button class="dashboard-button"routerLink="/homeprod">
    <i class="fa-solid fa-house"></i>
    <p>Home</p>
  </button>

  <!-- Logout -->
  <button class="dashboard-button" routerLink="logout">
    <i class="fa-solid fa-right-from-bracket out-icon"></i>
    <p>Logout</p>
  </button>
</div>
<router-outlet></router-outlet>
